<a href="https://colab.research.google.com/github/Buludi/Machine_Learning_Practice/blob/master/ML101November%2012.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# https://www.kaggle.com/rohitrox/healthcare-provider-fraud-detection-analysis/data#Train_Inpatientdata-1542865627584.csv

import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from datetime import datetime

%matplotlib inline

In [0]:
Data_Label=pd.read_csv("https://raw.githubusercontent.com/princetonschoolofai/M101_11-2019/master/Train-1542865627584.csv")
Data_Beneficiarydata=pd.read_csv("https://raw.githubusercontent.com/princetonschoolofai/M101_11-2019/master/Train_Beneficiarydata-1542865627584.csv")
Data_Inpatientdata=pd.read_csv("https://raw.githubusercontent.com/princetonschoolofai/M101_11-2019/master/Train_Inpatientdata-1542865627584.csv", sep=',')

Data_Outpatientdata_0=pd.read_csv("https://raw.githubusercontent.com/princetonschoolofai/M101_11-2019/master/Train_Outpatientdata-1542865627584.csv")
Data_Outpatientdata_1=pd.read_csv("https://raw.githubusercontent.com/princetonschoolofai/M101_11-2019/master/Train_Outpatientdata-1542865627584_1.csv")
Data_Outpatientdata_2=pd.read_csv("https://raw.githubusercontent.com/princetonschoolofai/M101_11-2019/master/Train_Outpatientdata-1542865627584_2.csv")
Data_Outpatientdata_3=pd.read_csv("https://raw.githubusercontent.com/princetonschoolofai/M101_11-2019/master/Train_Outpatientdata-1542865627584_3.csv")

Data_Outpatientdata = pd.concat([Data_Outpatientdata_0,Data_Outpatientdata_1,Data_Outpatientdata_2,Data_Outpatientdata_3], axis = 0)
print(Data_Outpatientdata.shape)
print(Data_Outpatientdata_0.shape)
# Load Test Dataset

(517737, 27)
(135056, 27)

In [0]:
"""
A) Inpatient Data
This data provides insights about the claims filed for those patients who are admitted in the hospitals. It also provides additional details like their admission and discharge dates and admit d diagnosis code.
"""
Data_Inpatientdata.head()

      BeneID   ClaimID  ... ClmProcedureCode_5 ClmProcedureCode_6
0  BENE11001  CLM46614  ...                NaN                NaN
1  BENE11001  CLM66048  ...                NaN                NaN
2  BENE11001  CLM68358  ...                NaN                NaN
3  BENE11011  CLM38412  ...                NaN                NaN
4  BENE11014  CLM63689  ...                NaN                NaN

[5 rows x 30 columns]

In [0]:
"""
B) Outpatient Data

This data provides details about the claims filed for those patients who visit hospitals and not admitted in it.
"""
Data_Outpatientdata.head()

       BeneID    ClaimID  ... DeductibleAmtPaid ClmAdmitDiagnosisCode
0  BENE120646  CLM169251  ...                 0                   NaN
1  BENE120646  CLM204426  ...                 0                   NaN
2  BENE120646  CLM259715  ...                 0                   NaN
3  BENE120646  CLM305868  ...                 0                   NaN
4  BENE120646  CLM368527  ...                 0                   NaN

[5 rows x 27 columns]

In [0]:
"""
C) Beneficiary Details Data

This data contains beneficiary KYC details like health conditions,regioregion they belong to etc.
"""
Data_Beneficiarydata.head()

      BeneID         DOB  ... OPAnnualReimbursementAmt  OPAnnualDeductibleAmt
0  BENE11001  1943-01-01  ...                       60                     70
1  BENE11002  1936-09-01  ...                       30                     50
2  BENE11003  1936-08-01  ...                       90                     40
3  BENE11004  1922-07-01  ...                     1810                    760
4  BENE11005  1935-09-01  ...                     1790                   1200

[5 rows x 25 columns]

In [0]:
Data.head()

      BeneID   ClaimID  ... OPAnnualDeductibleAmt  PotentialFraud
0  BENE11001  CLM46614  ...                    70             Yes
1  BENE17521  CLM34721  ...                    20             Yes
2  BENE21718  CLM72336  ...                   540             Yes
3  BENE22934  CLM73394  ...                   160             Yes
4  BENE24402  CLM32911  ...                   740             Yes

[5 rows x 35 columns]

In [0]:
Data_Inpatientdata.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6'],
      dtype='object')

In [0]:
Data = Data_Inpatientdata[['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2']]

Data['Days'] = (datetime.strptime(Data['ClaimEndDt'][0], '%Y-%m-%d') - datetime.strptime(Data['ClaimStartDt'][0], '%Y-%m-%d')).days
Data = Data.drop('ClaimStartDt', axis = 1)
Data = Data.drop('ClaimEndDt', axis = 1)
Data.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      BeneID   ClaimID  Provider  ...  ClmDiagnosisCode_1 ClmDiagnosisCode_2 Days
0  BENE11001  CLM46614  PRV55912  ...                1970               4019    6
1  BENE11001  CLM66048  PRV55907  ...                6186               2948    6
2  BENE11001  CLM68358  PRV56046  ...               29623              30390    6
3  BENE11011  CLM38412  PRV52405  ...               43491               2762    6
4  BENE11014  CLM63689  PRV56614  ...                 042               3051    6

[5 rows x 11 columns]

In [0]:
print(Data_Beneficiarydata.columns)
Data_Beneficiarydata = Data_Beneficiarydata.drop('DOD', axis = 1)
print(Data.shape)
print(Data_Beneficiarydata.shape)
Data = Data.merge(Data_Beneficiarydata,how = 'inner', on ='BeneID')
print(Data.shape)

Index(['BeneID', 'DOB', 'DOD', 'Gender', 'Race', 'RenalDiseaseIndicator',
       'State', 'County', 'NoOfMonths_PartACov', 'NoOfMonths_PartBCov',
       'ChronicCond_Alzheimer', 'ChronicCond_Heartfailure',
       'ChronicCond_KidneyDisease', 'ChronicCond_Cancer',
       'ChronicCond_ObstrPulmonary', 'ChronicCond_Depression',
       'ChronicCond_Diabetes', 'ChronicCond_IschemicHeart',
       'ChronicCond_Osteoporasis', 'ChronicCond_rheumatoidarthritis',
       'ChronicCond_stroke', 'IPAnnualReimbursementAmt',
       'IPAnnualDeductibleAmt', 'OPAnnualReimbursementAmt',
       'OPAnnualDeductibleAmt'],
      dtype='object')
(40474, 11)
(138556, 24)
(40474, 34)

In [0]:
print(Data_Label.columns)
print(Data.shape)
print(Data_Label.shape)
Data = Data.merge(Data_Label,how = 'inner', on ='Provider')
print(Data.shape)

Index(['Provider', 'PotentialFraud'], dtype='object')
(40474, 34)
(5410, 2)
(40474, 35)